<div id="fnd_tit">
<h1>Founders</h1>
</div>

<div class="row" id="profile-area">
	
  <%3.times do |i| %>
		<div class="col-md-4" id="abt_photo">
		  <% if i==0%>
		  <h3>Cole Alban</h3>
		  <%=image_tag"Cole",class:"prof_pic"%>
		  <% elsif i==1%>
		  <h3>Alex Kyei</h3>
                  <%=image_tag"Alex",class:"prof_pic"%>
		  <% elsif i==2%>
		  <h3>Shah-Ameer Wali</h3>
                  <%=image_tag"Shawn",class:"prof_pic"%>
		  <%end%>
		</div>
	<%end%>
	
</div>
<div id="about-text">
<h1>Inspiration</h1>
<h4>The team of AmpUFit wanted to create a unique experience for those with disabilities. Amputated athletes, veterans, those who have it harder than most people, can achieve very hard fitness goals. We wanted to make it easier and more fun for our users to achieve these goals. Then, AmpUFit was born.</h4>
<h1>What it does</h1>
<h4>AmpUFit, creates a user experience in which they can select their disability, find tailored workouts, find user inputed workouts that can be voted (Up or down), find other users(we like to call them AmpUFitters) nearby that want to participate in fitness.</h4>
<h1>Challenges</h1>
<h4>It was very difficult to find these workouts, since their isn't a database for it. Implementing user functions, allowing the user to create new workouts, and integrating google maps with twitter hash tag features.</h4>
<h1>Built With</h1>
<h4>Ruby on Rails</h4>
		
	</div>
