<div class="main_container">
<div class="row">
	<%=@categories.each do |var|%>
		<div class="col-md-4">
			<div class="thumbnail">
                <% if var.id==1%>
                    <%=image_tag "Legs1",id:"leg_image"%>
                <%end%>
			</div>
		</div>
	<%end%>
</div>
</div>
