<div class="bd-pageheader">
<div class="container">
<h1>Feel good about your body again</h1>
<p class="lead">There are nearly 2 million people living with limb loss in the United States. Limb loss can lead to chronic pain due to certain joints having to carry extra stress and loads. Regular exercise can help to both strengthen and retrain your muscles. AmpUFit looks to provide various workouts that are friendly for amputees and others suffering from various disabilities. Get started today and connect with your fellow AmpUFitters!</p>
<div class="main_container">
<div class="row">
	<%@categories.each do |var|%>
		<div class="col-md-4">
			<div class="thumbnail">
                <% if var.id==1%>
					<%= link_to "#{image_tag("Legs1")}".html_safe,category_path(1)%>
                <%elsif var.id==2%>
					<%=link_to "#{image_tag("arm_img")}".html_safe,category_path(2)%>
                <%else%>
                    <%=link_to "#{image_tag("other_img")}".html_safe,category_path(3)%>
                <%end%>
                
			</div>
		</div>
	<%end%>
</div>
</div>
