<h1>Today we are doing <%=@workout.name%></h1>
<div class="container">
	<div class="row">
		<div class="panel-group" id="accordion">
		<%@workout_categories.each do |var|%>
			<div class="panel panel-default">
				<div class="panel-heading">
				<h4 class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%=var.name%></a></h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">

	<div class="panel-body">
		<table class="table">
			<% var.workouts.each  do |workout|%>
			<tr> <td> <span><%=workout.name%></span> </td> </tr>
			<%end%>
			
			</table>
	</div>
	</div>
	<%end%>
</div>
<%= link_to "Add a new workout category",new_category_workout_category_path(@workout.id)%>
 </div>
 </div>
