<div class="row">
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Equipment</th>
				</tr>
				<tr>
					<td><%=@exercise.name%></td>
					<td><%=@exercise.difficulty%></td>
					<% if @exercise.equipment == nil %>
					<td>N/A</td>
					<% else %>
					<td><%= @exercise.equipment %> </td>
					<%end%>
				</tr>
			</thead>
		</table>
	</div>
	<div class="col-md-6">
		<div class="row">
		<div class="col-md-6"><span class="glyphicon glyphicon-ok">Endorse</span>
		</div>
		<div class="col-md-6"><span class="glyphicon glyphicon-remove">Amputate</span>
		</div>
		<%= @exercise.difficulty %>Fill in description here
	</div>
</div>
