<!DOCTYPE html>
<html>
  <head>
    <style>
      #nap {
        width: 500px;
        height: 400px;
      }
    </style>
  </head>
  <body>
<div class="row">
<div class="col-md-8">
    <h1>Find buddies around you!</h1>
    <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 38.8951100, lng: -77.0363700},
          zoom: 8
        });
      } 
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
</div>
<H1>Ampufitters around you!</h1>
<div class="col-md-4">
<div class="media">
<% @tweets.each do |t| %>
<div class="media-left">
<a href="http://umd.edu">
<img class="media-object" src="<%= t.user.profile_image_url %>"/>
</a></div>
<div class="media-body">
<h4 class="media-heading"><a style="color: #6B6BE2;" href="<%= t.user.url %>"@><%= t.user.screen_name %></a></h4>
<span> <%= t.text %> </span>
</div>
</div>
<% end %>
</div>
</div>
  </body>
</html>
