<!DOCTYPE html>
<html>
<head>
  <title>AMPUFIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container" class="container">
      <div class="row">
        <div class="jumbotron">
          <h1 class="headline">Amp U Fit</h1>
		  <h3 class="headline">Well come up with something clever soon</h3>
        </div>
	  </div>
          <%= yield %>
      </div>
    </div>

</body>
</html>
